@{
    ViewBag.Title = "De se Trata?";
}
<h2>@ViewBag.Title.</h2>
<h3>
    @ViewBag.Message
</h3>
<p>Al registrarse Actualizaran la BD de los contactos y sera mas facil ubicarnos.</p>
<p>Un usuario registrado podra crear Eventos para que todos los veamos.</p>

<p>pronto habra mas informacion.</p>
