@{
    ViewBag.Title = "Concatame";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hohenems<br />
    Vorarlberg, Austria<br />
    <abbr title="Phone">P:</abbr>
     0660.442.7707
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">punky_casinotomo@hotmail.com</a><br />
</address>