@{
    ViewBag.Title = " Vamonos Tacos ";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
    <p class="lead">Bacon ipsum dolor amet magna jowl beef capicola cupidatat doner irure. Biltong lorem officia, et est swine dolore landjaeger velit bresaola cillum. Tail fugiat esse salami rump. Ut esse nostrud velit ut, pork loin ut.</p>
    <p><a href="http://emamones.blogspot.ch/" class="btn btn-primary btn-lg">Visita mi Blog &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Extra info</h2>
        <p>
            In capicola prosciutto, landjaeger ad ut ham duis short loin fatback ea venison. Fugiat laborum consectetur, 
            corned beef occaecat cupidatat boudin beef incididunt. Sed corned beef venison shoulder strip steak, 
            turducken in sunt sint dolore. Beef ribs chicken veniam nostrud irure, turducken proident et aute incididunt short loin pancetta.
        </p>
        <p><a class="btn btn-default" href="https://www.couchsurfing.com/people/punkycasinotomo">Couch Surfing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proximos Eventos</h2>
        <p>Jowl prosciutto strip steak, fatback flank ground round pork short loin chicken jerky pork chop. Bacon filet mignon pork belly, 
        sausage hamburger kielbasa meatball shank cupim tongue drumstick. 
        Landjaeger frankfurter beef tongue short loin, rump jowl venison brisket kevin pork belly ground round kielbasa. 
        Shankle leberkas pastrami meatball ribeye ham.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">otra liga &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Queremos Compartir</h2>
        <p>Jowl prosciutto strip steak, fatback flank ground round pork short loin chicken jerky pork chop. 
        Bacon filet mignon pork belly, sausage hamburger kielbasa meatball shank cupim tongue drumstick. 
        Landjaeger frankfurter beef tongue short loin, 
        rump jowl venison brisket kevin pork belly ground round kielbasa. Shankle leberkas pastrami meatball ribeye ham.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>