<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mexicovbg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mexicovbg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MexicoVbg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MexicoVbg</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mexicovbgserver.database.windows.net,1433;Initial Catalog=AngularMVC;User ID=ramomex1@mexicovbgserver.database.windows.net;Password=P@ssw0rd" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AngularMVCAuthentication.ModelContext, AngularMVCAuthentication" MigrationConfiguration="AngularMVCAuthentication.DataModel.ApplicationDbContextConfiguration, AngularMVCAuthentication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AngularMVC" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:mexicovbgserver.database.windows.net,1433;Initial Catalog=Persistance;User ID=ramomex1@mexicovbgserver.database.windows.net;Password=P@ssw0rd" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Persistance.PersistanceContext, DataModel" MigrationConfiguration="Persistance.Seeds.DataContextMigrationConfiguration, DataModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AngularMVC-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mexicovbgserver.database.windows.net,1433;Initial Catalog=Persistance;User ID=ramomex1@mexicovbgserver.database.windows.net;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mexicovbgserver.database.windows.net,1433;Initial Catalog=AngularMVC;User ID=ramomex1@mexicovbgserver.database.windows.net;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AngularMVC" />
  </ItemGroup>
</Project>